################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/obj
/packages/Newtonsoft.Json.12.0.2
/bin/Release
